<div class="banner-block">
    <div class="banner-inner1">
      <div class="banner-inner2">
        {% if object.banner.header %}<h2><a href="{{ object.banner.link }}">{{ object.banner.header }}</a></h2>{% endif %}

        {% if object.banner.text %}<p style="color:#fff;">{{ object.banner.text }}</p>{% endif %}

        <a href="{{ object.banner.link }}" class="small-btn left">{{ object.banner.link_text }}</a>
        <div class="clear"></div>
      </div>
    </div>

    {% comment %}
    <a href="{{ object.banner.link }}">
    {% if object.banner.image %}<img src="{{ object.banner.image.file.url }}" alt="{{ object.banner.header }}" >{% endif %}
    </a>
    {% endcomment %}
</div>
