//$branding-blue: #429FD9;
$branding-blue: #009BD1;

//$branding-grey: #C8D2DD;
$branding-grey: #edebe5;

//$branding-purple: #261F44;
//$branding-purple: #271645;
$branding-purple: #301948;

$branding-green: #6eb3a2;
$branding-dark-green: darken($branding-green, 10%);
